@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
.navbar-brand{
    color: saddlebrown;
    font-family: 'Sigmar One', cursive;
}
.nav-item{
    color: #BF8555;
    margin: 0 10px;
}
.nav-item:hover{
    color: #191310;
    border-bottom:2px solid #191310;
}
.button{
    background: #865934;
    width: 90px;
    text-align: center;
    border-radius: 25px;
    color: white;
    margin: 5px 10px;
}
.button:hover{
    background: white;
    color: #191310;
    border-radius: 0px;
}
.active{
    color: #191310;
    border-bottom:2px solid #191310;
}
.navbar{
    background: rgba(255, 255, 255, 0.5)
}
.Banner img{
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.logo img{
    position: absolute;
    top: 6vw;
    width: 15vw;
    height: 15vw;
    margin-left: 15vw;
    bottom: 3%;
}
.welcome {
    position: absolute;
    overflow: hidden;
    top: 20vw;
text-align: center;
}
.welcome h1{
    margin-bottom: 2vw;
    color: #703A0F;
    font-size: 3.75vw;
}
.welcome p{
    color: #BF8555;
    font-size: 1.75vw;
    padding-top: 2vw;
}
.welcome span{
    
    text-align: right;
    font-size: 1vw;
}
.order{
    position: absolute;
    overflow: hidden;
    top: 35vw;
    margin-top: 3vw;
    margin-left: 8vw;
    text-align: center;
    color:  #703A0F;
}
.order p{
    font-size: 2vw;
    margin-bottom: 1vw;
}
.order button{
    padding: 1vw 3vw;
    border-radius: 20px;
    border: 2px solid #703A0F;
    color: #703A0F ;
    background: none;
    font-size: 1vw;
}
.order button:hover{
    color: white ;
    background: #703A0F;
}
.menu{
 background: #BF8555; 
}
.menu h2{
    padding: 40px;
    text-align: center;
    color: #703A0F;
}
.menu h2 span{
color: white;
border-bottom:3px solid #703A0F;
}
.container .leftwrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}
.leftwrap{
    display: flex;
    padding: 0 0 40px 0;
}
.leftwrap img{
    width: 200px;
    height: 200px;
   
    margin-left: 40px;
}

.leftwrap h4{
    text-align: center;
}
.col-md-3 .card{
    margin-top: 20px;
    background: rgba(224, 215, 207, 0.5);
}
.card .btn{
    background: none;
    border-radius: 20px;
    border: 1px solid #703A0F;
    color: #703A0F ;
    font-weight: 500;
}
.card .btn:hover{
    color: white ;
    background: #703A0F;
    border: none;
}
footer{
    padding: 30px;
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
footer img{
    height: 300px;
    background: #BF8555;
    opacity: 0.5;
}
footer .footer-right{
    background-color: #c9753d;
    color:#703A0F ;
    padding-top: 20px;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
